* {
  margin: 0;
  padding: 0;
}

.page {
  background-color: #fff;
}

.header {
  height: 50px;
  display: flex;
  justify-content: space-between;
  padding: 50px 0 60px;
  background-image: url("./images/Line.svg");
  background-size: cover;
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}
.logo__text {
  color: #292F36;
  font-family: DM Serif Display, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 243px;
}
.menu__link {
  text-decoration: none;
  color: #292F36;
  font-family: Jost, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
}

.main {
  aspect-ratio: 1200/758;
  background-image: url("./images/Line.svg");
  background-size: cover;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}
.main__image {
  border-radius: 50px;
}
.main__content {
  max-width: 435px;
  position: absolute;
  top: 30%;
  left: 4%;
}
.main__header {
  padding-bottom: 18px;
  color: #292F36;
  font-family: DM Serif Display, sans-serif;
  font-size: 65px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
}
.main__subtitle {
  letter-spacing: 0.22px;
  padding-bottom: 21px;
  color: #4D5053;
  font-family: Jost, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.main__btn {
  padding: 26px 48px;
  display: flex;
  align-items: center;
  gap: 10px;
  border: 2px solid #292F36;
  border-radius: 18px;
  letter-spacing: 0.36px;
  color: #fff;
  font-family: Jost, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  background-color: #292F36;
  cursor: pointer;
  transition: all 0.3s;
}
.main__btn:hover {
  color: #292F36;
  background-color: #fff;
}

.gallery {
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("./images/Line.svg");
  background-size: cover;
  max-width: 1200px;
  margin: 0 auto;
}
.gallery__title {
  margin-bottom: 5px;
  letter-spacing: 1px;
  color: #292F36;
  font-family: DM Serif Display, sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
}
.gallery__subtitle {
  max-width: 737px;
  text-align: center;
  margin-bottom: 95px;
  letter-spacing: 0.22px;
  color: #4D5053;
  font-family: Jost, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.gallery__cards {
  display: flex;
  gap: 56px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  width: 547px;
}
.card__image {
  width: 547px;
  aspect-ratio: 547/525;
}
.card__content {
  height: 95px;
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.card__info {
  margin-top: 20px;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card__title {
  letter-spacing: 0.5px;
  color: #4D5053;
  font-family: DM Serif Display, sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
}
.card__text {
  letter-spacing: 0.22px;
  color: #4D5053;
  font-family: Jost, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.card__link {
  display: block;
}
.card__link circle, .card__link path {
  transition: all 0.3s;
}
.card__link:hover circle {
  fill: #292F36;
}
.card__link:hover path {
  stroke: #F4F0EC;
}

.counters {
  max-width: 100%;
  background-color: #F4F0EC;
  aspect-ratio: 1920/457;
  display: flex;
  justify-content: center;
  align-items: center;
}
.counters__content {
  display: flex;
  gap: 15px;
  aspect-ratio: 100/16;
  max-width: 1200px;
}
.counters__counter {
  width: 205px;
  padding-right: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.counters__counter:not(:last-child) {
  border-right: 1px solid #CDA274;
}
.counters__header {
  margin-bottom: 10px;
  letter-spacing: 1.7px;
  color: #CDA274;
  font-family: DM Serif Display, sans-serif;
  font-size: 85px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
}
.counters__text {
  letter-spacing: 0.22px;
  color: #4D5053;
  font-family: Jost, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.articles {
  background-image: url("./images/Line.svg");
  background-size: cover;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 95px;
}
.articles__title {
  letter-spacing: 1px;
  margin-bottom: 10px;
  margin-top: 95px;
  color: #292F36;
  font-family: DM Serif Display, sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
}
.articles__subtitle {
  margin-bottom: 52px;
  max-width: 811px;
  text-align: center;
  letter-spacing: 0.22px;
  color: #4D5053;
  font-family: Jost, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.articles__cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 27px;
}

.article {
  width: 340px;
  border: 1px solid #E7E7E7;
  border-radius: 62px;
  padding: 20px;
  transition: all 0.3s;
}
.article:hover {
  background-color: #F4F0EC;
}
.article:hover .article__link circle {
  fill: #fff;
}
.article__imageBox {
  position: relative;
  border-top-right-radius: 62px;
  border-top-left-radius: 62px;
  margin-bottom: 21px;
}
.article__image {
  border-top-right-radius: 62px;
  border-top-left-radius: 62px;
}
.article__title {
  position: absolute;
  bottom: 20px;
  left: 20px;
  letter-spacing: 0.16px;
  text-transform: capitalize;
  color: #4D5053;
  font-family: Jost, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  display: block;
  padding: 8px 11px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: #fff;
}
.article__header {
  max-width: 305px;
  margin-bottom: 28px;
  letter-spacing: 0.5px;
  color: #292F36;
  font-family: DM Serif Display, sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
}
.article__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.article__date {
  letter-spacing: 0.16px;
  text-transform: capitalize;
  color: #4D5053;
  font-family: Jost, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.article__link {
  display: block;
}
.article__link circle {
  transition: all 0.3s;
}

.footer {
  background-image: url("./images/Line.svg");
  background-size: cover;
  max-width: 1200px;
  margin: 0 auto;
  height: 272px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.footer__info {
  max-width: 393px;
}
.footer__text {
  margin-top: 18px;
  letter-spacing: 0.22px;
  color: #4D5053;
  font-family: Jost, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.footer__heading {
  margin-bottom: 25px;
  color: #292F36;
  font-family: DM Serif Display, sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
}
.footer__contacts {
  max-width: 258px;
}
.footer__socials {
  margin-top: 31px;
  display: flex;
  gap: 30px;
}
.footer__social {
  display: block;
}

.menu_footer {
  flex-direction: column;
  align-items: start;
  gap: 30px;
}/*# sourceMappingURL=style.css.map */